# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/

